<h2 class="screen-align">Createtick</h2>
<div id="template-impr" class="row">
    <div id="template-i20h" class="cell">
        <label id="template-ighi" class="label">Name</label>
        <input id="template-iiz5" class="input form-control" />
    </div>
    <div id="template-is4c3" class="cell">
        <label id="template-ino9" class="label">Groups</label>
        <input id="template-ifum" class="input form-control" />
    </div>
    <div id="template-i3pa" class="cell">
        <label id="template-ik2m" class="label">Description</label>
        <input id="template-i1kl" class="input form-control"
        />
    </div>
</div>
<div id="template-i3ryi" class="row">
    <div id="template-i9ers" class="cell">
        <label id="template-i76pe" class="label">Types</label>
        <div id="template-i42qr" class=""></div>
        <div id="template-i7jll" class="">
            <ng-select id="template-ip9kl" name="dynamicdropdown_template-ip9kl" [searchable]="true"
            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control"></ng-select>
        </div>
    </div>
    <div id="template-i0f1f" class="cell">
        <label id="template-i4gd9" class="label">Severity</label>
        <div id="template-ih74r" class=""></div>
        <div id="template-ixz1c" class="">
            <ng-select id="template-itgjk" name="dynamicdropdown_template-itgjk" [searchable]="true"
            [virtualScroll]="true" [items]="itemArray" bindLabel="" bindValue="" class="form-control"></ng-select>
        </div>
    </div>
    <div id="template-iwj6l" class="cell"></div>
</div>
<button id="template-i9gcg" class="button btn btn-primary">Create</button>